<div class="max-w-xl mx-auto p-6 my-5 bg-white shadow-lg rounded-lg">
  <h2 class="text-xl font-semibold mb-4">Cadastrar Colaborador</h2>
  <form [formGroup]="collaboratorForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label for="name" class="block text-gray-700 font-medium mb-2">Nome</label>
      <input id="name" formControlName="name" type="text" placeholder="Digite o nome do colaborador"
        class="p-2 border border-gray-300 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500" />
      <div *ngIf="collaboratorForm.get('name')?.invalid && collaboratorForm.get('name')?.touched"
        class="text-red-500 text-sm mt-1">
        Nome é obrigatório.
      </div>
    </div>

    <div class="mb-4">
      <label for="registrationNumber" class="block text-gray-700 font-medium mb-2">Matrícula</label>
      <input id="registrationNumber" formControlName="registrationNumber" type="text" placeholder="Digite a matrícula"
        class="p-2 border border-gray-300 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500" />
      <div
        *ngIf="collaboratorForm.get('registrationNumber')?.invalid && collaboratorForm.get('registrationNumber')?.touched"
        class="text-red-500 text-sm mt-1">
        Matrícula é obrigatória.
      </div>
    </div>

    <div class="mb-4">
      <label for="position" class="block text-gray-700 font-medium mb-2">Cargo</label>
      <input id="position" formControlName="position" type="text" placeholder="Digite o cargo"
        class="p-2 border border-gray-300 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500" />
      <div *ngIf="collaboratorForm.get('position')?.invalid && collaboratorForm.get('position')?.touched"
        class="text-red-500 text-sm mt-1">
        Cargo é obrigatório.
      </div>
    </div>

    <div class="mb-4">
      <label for="salary" class="block text-gray-700 font-medium mb-2">Salário</label>
      <input id="salary" formControlName="salary" type="number" placeholder="Digite o salário"
        class="p-2 border border-gray-300 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500" />
      <div *ngIf="collaboratorForm.get('salary')?.invalid && collaboratorForm.get('salary')?.touched"
        class="text-red-500 text-sm mt-1">
        Salário é obrigatório e deve ser um número positivo.
      </div>
    </div>

    <div class="flex justify-between">
      <button type="button" [routerLink]="['/colaboradores']"
        class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded w-48">
        Voltar
      </button>
      <button type="submit" [disabled]="collaboratorForm.invalid"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-48">
        Cadastrar
      </button>
    </div>
  </form>
</div>