<div class="max-w-xl mx-auto p-6 my-5 bg-white shadow-lg rounded-lg">
    <h2 class="text-xl font-semibold mb-4">Adicionar Registro de Ponto</h2>
    <form [formGroup]="attendanceForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
            <label for="collaboratorId" class="block text-gray-700 font-medium mb-2">ID do Colaborador</label>
            <input id="collaboratorId" formControlName="collaboratorId" type="number"
                class="p-2 border border-gray-300 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500" />
            <div *ngIf="attendanceForm.get('collaboratorId')?.invalid && attendanceForm.get('collaboratorId')?.touched"
                class="text-red-500 text-sm mt-1">
                ID do Colaborador é obrigatório.
            </div>
        </div>

        <div class="mb-4">
            <label for="checkInTime" class="block text-gray-700 font-medium mb-2">Horário de Entrada</label>
            <input id="checkInTime" formControlName="checkInTime" type="datetime-local"
                class="p-2 border border-gray-300 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500" />
            <div *ngIf="attendanceForm.get('checkInTime')?.invalid && attendanceForm.get('checkInTime')?.touched"
                class="text-red-500 text-sm mt-1">
                Horário de Entrada é obrigatório.
            </div>
        </div>

        <div class="mb-4">
            <label for="checkOutTime" class="block text-gray-700 font-medium mb-2">Horário de Saída</label>
            <input id="checkOutTime" formControlName="checkOutTime" type="datetime-local"
                class="p-2 border border-gray-300 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500" />
            <div *ngIf="attendanceForm.get('checkOutTime')?.invalid && attendanceForm.get('checkOutTime')?.touched"
                class="text-red-500 text-sm mt-1">
                Horário de Saída é obrigatório.
            </div>
        </div>

        <button type="submit" [disabled]="attendanceForm.invalid"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
            Cadastrar
        </button>
    </form>
</div>