<div class="max-w-4xl mx-auto p-6 my-5 bg-white shadow-lg rounded-lg">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-semibold">Lista de Colaboradores</h2>
        <button [routerLink]="['/cadastrar-colaboradores']"
            class="bg-blue-500 hover:bg-blue-700 text-sm text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            + Cadastrar Colaborador
        </button>
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b">ID</th>
                    <th class="py-2 px-4 border-b">Nome</th>
                    <th class="py-2 px-4 border-b">Matrícula</th>
                    <th class="py-2 px-4 border-b">Cargo</th>
                    <th class="py-2 px-4 border-b">Salário</th>
                    <th class="py-2 px-4 border-b">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="isLoading">
                    <td colspan="6" class="py-4 text-center text-gray-500">Carregando...</td>
                </tr>
                <ng-container *ngIf="!isLoading">
                    <tr *ngFor="let collaborator of collaborators">
                        <td class="py-2 px-4 border-b text-center">{{ collaborator.id }}</td>
                        <td class="py-2 px-4 border-b text-center">{{ collaborator.name }}</td>
                        <td class="py-2 px-4 border-b text-center">{{ collaborator.registrationNumber }}</td>
                        <td class="py-2 px-4 border-b text-center">{{ collaborator.position }}</td>
                        <td class="py-2 px-4 border-b text-center">{{ collaborator.salary | currency:'BRL' }}</td>
                        <td class="py-2 px-4 border-b flex space-x-2 justify-center">
                            <a [routerLink]="['/editar-colaboradores', collaborator.id]"
                                class="text-blue-500 hover:text-blue-700">
                                <span class="material-icons">edit</span>
                            </a>
                            <a (click)="openDeleteModal(collaborator)"
                                class="text-red-500 hover:text-red-700 cursor-pointer">
                                <span class="material-icons">delete</span>
                            </a>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div *ngIf="!isLoading && collaborators.length === 0" class="text-center text-gray-500 mt-4">
        Nenhum colaborador encontrado.
    </div>

    <div *ngIf="showDeleteModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
        <div class="bg-white p-6 rounded shadow-lg">
            <h3 class="text-lg font-semibold mb-4">Confirmar Deleção</h3>
            <p>Tem certeza de que deseja deletar o colaborador {{ collaboratorToDelete?.name }}?</p>
            <div class="mt-4 flex justify-end">
                <button (click)="confirmDelete()"
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-2">Sim,
                    Deletar</button>
                <button (click)="closeDeleteModal()"
                    class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">Cancelar</button>
            </div>
        </div>
    </div>
</div>