<div class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg my-6">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-semibold">Lista de Registros de Ponto</h2>
        <button [routerLink]="['/registrar-ponto']"
            class="bg-blue-500 hover:bg-blue-700 text-sm text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            + Registrar ponto
        </button>
    </div>
    <div class="flex items-center justify-between mb-4">
        <div class="flex items-center">
            <input type="month" [(ngModel)]="filterMonth" (change)="onMonthFilter()"
                class="p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>

        <div class="flex space-x-4">
            <button (click)="downloadExcel()"
                class="flex items-center text-sm bg-green-500 hover:bg-green-700 text-white font-semibold p-2 rounded focus:outline-none focus:ring-2 focus:ring-green-500">
                <span class="material-icons text-md text-sm mr-2">file_download</span>
                Baixar relatório
            </button>
        </div>
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-200">
            <thead>
                <tr class="bg-gray-100">
                    <th class="py-2 px-4 border-b border-gray-200 text-left text-sm font-medium text-gray-700">
                        Colaborador</th>
                    <th class="py-2 px-4 border-b border-gray-200 text-left text-sm font-medium text-gray-700">Data</th>
                    <th class="py-2 px-4 border-b border-gray-200 text-left text-sm font-medium text-gray-700">Entrada
                    </th>
                    <th class="py-2 px-4 border-b border-gray-200 text-left text-sm font-medium text-gray-700">Saída
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let attendance of filteredAttendances">
                    <td class="py-2 px-4 border-b border-gray-200 text-sm text-gray-700">
                        {{ attendance.collaborator?.name }}
                    </td>
                    <!-- Nova coluna para a data -->
                    <td class="py-2 px-4 border-b border-gray-200 text-sm text-gray-700">
                        {{ attendance.checkInTime | date:'dd/MM/yyyy' }}
                    </td>
                    <!-- Coluna para o horário de entrada -->
                    <td class="py-2 px-4 border-b border-gray-200 text-sm text-gray-700">
                        {{ attendance.checkInTime | date:'HH:mm' }}
                    </td>
                    <!-- Coluna para o horário de saída -->
                    <td class="py-2 px-4 border-b border-gray-200 text-sm text-gray-700">
                        {{ attendance.checkOutTime | date:'HH:mm' }}
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="filteredAttendances.length === 0" class="text-center text-gray-500 mt-4">
            Nenhum registro de pontos para esse mês.
        </div>
    </div>
</div>